#projects td {
    padding: 5%;
}

#projects td {
    width: 35em;
}

#projects td.visual {
    text-align: center;
    width: 220px;
}

#projects td.visual img {
    width: 100%;
}

img {
    width: 60%;
}

p {
    width: 60%;
    text-align: left;
}